@model ComicProject.Models.Comic

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;

}
<h1>Title = @Model.SeriesTitle</h1>
<h2>Number of Items: @Model.IssueNumber</h2>
<h5>
    Description :
    <div> @Html.Raw(Model.DescriptionHtml) </div>
</h5>
@if (Model.Artists.Length > 0)
{
    <h5>Writers:</h5>
            <div>
                <ul>
                    @foreach (var artist in Model.Artists)
                    {
                        <li>@artist.Role: @artist.Name</li>
                    }
                </ul>
            </div>
}
